@import "../../../colors";
@import "../../../fonts";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  color: $text-color;
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    height: 50px;
    width: 50px;
    img {
      height: 100%;
    }
  }
  .title {
    font-family: "Modak", cursive;
  }
  .link {
    text-decoration: none;
    color: $text-color;
    font-size: 10px;
    cursor: pointer;
    font-family: "Courgette", cursive;
  }
}
