@import "../../../colors";

@import "../../../standart-button";
@import "../../../card";
@import "../../../form-input";

$min-width: 320px;

.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  .aside {
    position: relative;
    width: 30%;
    min-width: $min-width;
    border-right: 1px solid $background-color;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    mat-card {
      cursor: pointer;
      margin: 10px 0;
      box-sizing: border-box;
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
  .content {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $min-width;
    mat-card {
      width: 50%;
      min-width: 320px;
      box-sizing: border-box;
    }
  }
}
