<div class="container" [@simpleFadeAnimation]="'in'">
    <aside class="aside">
        <div class="aside-menu">
            <div class="card" [routerLink]="'/portal/user'" routerLinkActive #qwe="routerLinkActive"
                routerLinkActive="routeractive">
                <p class="row">
                    <span>User Info</span>
                    <mat-icon matSuffix class="secondary-text" *ngIf="qwe.isActive">keyboard_arrow_right</mat-icon>
                </p>
            </div>
            <div class="card" [routerLink]="'/portal/vehicle'" routerLinkActive #asd="routerLinkActive"
                routerLinkActive="routeractive" *ngIf="isDisabledVehicleInfo" [@simpleFadeAnimation]="'in'">
                <p class="row">
                    <span>Vehicle Info</span>
                    <mat-icon matSuffix class="secondary-text" *ngIf="asd.isActive">keyboard_arrow_right</mat-icon>
                </p>
            </div>
            <div class="card" [routerLink]="'/portal/documents'" routerLinkActive #rla="routerLinkActive"
                routerLinkActive="routeractive">
                <p class="row">
                    <span>Documents</span>
                    <mat-icon matSuffix class="secondary-text" *ngIf="rla.isActive">keyboard_arrow_right</mat-icon>
                </p>
            </div>
        </div>
        <div class="aside-bottom">
            <button class="button" [routerLink]="'/'" (click)="exitUser()">
                Exit
                <span class="spacer"></span>
                <mat-icon matSuffix class="secondary-text">exit_to_app</mat-icon>
            </button>
        </div>

    </aside>
    <div class="content">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>