<div class="container" [@simpleFadeAnimation]="'in'">
  <h3>Terms of Service</h3>
  <h5 class="bodytext">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat vitae est architecto
    eum totam, pariatur optio libero aspernatur deleniti magnam sit quos neque ut vero quibusdam
    excepturi ab. Nesciunt.
  </h5>
  <h5>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat vitae est architecto
    eum totam, pariatur optio libero aspernatur deleniti magnam sit quos neque ut vero quibusdam
    excepturi ab. Nesciunt.
  </h5>
  <h5 class="bodytext">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat vitae est architecto
    eum totam, pariatur optio libero aspernatur deleniti magnam sit quos neque ut vero quibusdam
    excepturi ab. Nesciunt.
  </h5>
  <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat vitae est architecto
    eum totam, pariatur optio libero aspernatur deleniti magnam sit quos neque ut vero quibusdam
    excepturi ab. Nesciunt.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ab veniam non molestiae distinctio
    consectetur saepe at expedita natus cupiditate numquam nostrum eligendi itaque aliquam magni atque
    velit quo voluptates.
    <span class="bodytext">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit vero quidem
      libero sint voluptatum temporibus suscipit. Doloribus sed eaque hic facilis.
      Deserunt voluptates excepturi voluptatem adipisci ipsa tempore in hic!
    </span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ab veniam non molestiae distinctio
    consectetur saepe at expedita natus cupiditate numquam nostrum eligendi itaque aliquam magni atque
    velit quo voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ab veniam non
    molestiae distinctio consectetur saepe at expedita natus cupiditate numquam nostrum eligendi itaque
    aliquam magni atque velit quo voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Esse, ab veniam non molestiae distinctio consectetur saepe at expedita natus cupiditate numquam
    nostrum eligendi itaque aliquam magni atque velit quo voluptates.Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Esse, ab veniam non molestiae distinctio consectetur saepe at
    expedita natus cupiditate numquam nostrum eligendi itaque aliquam magni atque velit quo
    voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ab veniam non molestiae
    distinctio consectetur saepe at expedita natus cupiditate numquam nostrum eligendi itaque aliquam magni
    atque velit quo voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ab veniam non
    molestiae distinctio consectetur saepe at expedita natus cupiditate numquam nostrum eligendi itaque aliquam
    magni atque velit quo voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ab veniam
    non molestiae distinctio consectetur saepe at expedita natus cupiditate numquam nostrum eligendi itaque
    aliquam magni atque velit quo voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse,
    ab veniam non molestiae distinctio consectetur saepe at expedita natus cupiditate numquam nostrum eligendi
    itaque aliquam magni atque velit quo voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Esse, ab veniam non molestiae distinctio consectetur saepe at expedita natus cupiditate numquam nostrum
    eligendi itaque aliquam magni atque velit quo voluptates.Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Esse, ab veniam non molestiae distinctio consectetur saepe at expedita natus
    cupiditate numquam nostrum eligendi itaque aliquam magni atque velit quo voluptates.Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. Esse, ab veniam non molestiae distinctio consectetur saepe at
    expedita natus cupiditate numquam nostrum eligendi itaque aliquam magni atque velit quo voluptates.
  </h5>
</div>