<form class="container" [formGroup]="loginForm">
  <mat-card class="form">
    <mat-card-title>SIGN IN TO YOUR ACCOUNT</mat-card-title>
    <mat-card-content>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                            loginForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>
      </p>
    </mat-card-content>


    <button mat-stroked-button color="primary" [disabled]="loginForm.invalid" (click)="loginUser()">SIGN IN</button>
  </mat-card>
</form>