<div class="container" [@simpleFadeAnimation]="'in'">
  <header class="header">
    <button class="button" [routerLink]="'/'">
      <mat-icon matSuffix class="secondary-text">undo</mat-icon> back
    </button>
    <button class="button noticon" [disabled]="loginForm.invalid" (click)="loginUser()">SIGN IN</button>

  </header>
  <main class="main">
    <form class="form" [formGroup]="loginForm">

      <h3>SIGN IN TO YOUR ACCOUNT</h3>

      <p class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                              loginForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </p>
      <mat-hint *ngIf="isErrorMessage">
        This user is not available. Please, <button mat-raised-button [routerLink]="'/signup'">
          Sign Up
        </button>
      </mat-hint>
      <p class="row">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>
      </p>
      <p class="recaptcha">
        <!-- <re-captcha (resolved)="resolved($event)" siteKey="sitekey"></re-captcha> -->
        <re-captcha formControlName="recaptchaReactive" (resolved)="resolved($event)"
          siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha>
      </p>

    </form>
  </main>

</div>