$theme-color: rgba(66, 66, 66, 0.6);
$text-color: rgba(255, 255, 255, 1);
$border-color: rgba(255, 255, 255, 0.4);
$background-color: rgba(66, 66, 66, 0.9);
$background-color-landing: rgba(0, 0, 0, 1);