@font-face {
  font-family: "Courgette";
  src: url(assets/fonts/Courgette/Courgette-Regular.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Modak";
  src: url(assets/fonts/Modak/Modak-Regular.ttf) format("truetype");
  font-weight: 600;
}
