@import "colors";

.button {
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  background-color: $background-color;
  color: $text-color;
  text-decoration: none;
  padding: 5px 15px;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  outline: none;
  transition: all 0.5s ease;
  &:hover,
  :focus {
    background-color: $theme-color;
    border-color: $border-color;
    transition: all 0.5s ease;
  }
  cursor: pointer;
  &:active {
    background-color: darken($theme-color, 25%);
    transition: all 0.1s ease;
  }
  .spacer {
    width: 10px;
  }
  &[disabled] {
    background: lighten($background-color, 20%);
  }
}
