<form class="form" [formGroup]="vehicleinfoForm">
    <h3> Information about vehicle of {{currentUser.FirstName || "User"}} {{currentUser.LastName}}</h3>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Brand</mat-label>
            <mat-select formControlName="brand" name="brand">
                <mat-option *ngFor="let car of cars" [value]="car.name">
                    {{car.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Model</mat-label>
            <mat-select formControlName="model" name="model">
                <mat-option *ngFor="let carmodel of models" [value]="carmodel">
                    {{carmodel}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Year</mat-label>
            <input matInput formControlName="year">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Color</mat-label>
            <input matInput placeholder="Color of vehicle" formControlName="color">
        </mat-form-field>
    </div>

    <div class="row">
        <button mat-raised-button (click)="saveChanges()">Save changes</button>
    </div>


</form>