@import "../../../colors";
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}

::ng-deep .mat-card {
  background-color: $background-color;
}
::ng-deep .mat-card.transparentCard {
  max-width: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: $background-color;
  box-shadow: none;
}
::ng-deep .mat-form-field {
  width: 100%;
}
::ng-deep .mat-card-title {
  line-height: 70px;
}

.mat-raised-button {
  text-transform: uppercase;
}
::ng-deep a.mat-raised-button,
::ng-deep button.mat-raised-button {
  color: $text-color;
  background-color: $background-color;
  border: 1px solid $border-color;
  &:hover {
    background-color: $theme-color;
  }
}
::ng-deep button.mat-raised-button[disabled][disabled] {
  background-color: $disabled-color;
}
::ng-deep .mat-hint {
  color: $error-color;
}

//mat-input focused color
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: $theme-color !important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: $text-color !important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: $text-color !important;
}
